/* All fonts & External hooks */

/* Noto Serif Font  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-heading {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Inter Font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

#body {
    max-width: 1140px;
    margin: 0 auto;
}

/* Header & Navbar */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.875rem;
}

#nav-li {
    display: flex;
    gap: 48px;
    margin: 18px 0;
    padding: 0;
}

#nav-li>li {
    list-style: none;
}

#nav-li>li>a {
    text-decoration: none;
    color: black;
}

#nav-li>li:nth-child(2) a,
#nav-li>li:nth-child(3) a {
    color: #8987A1;
}

.nav-home {
    color: #252432;
    font-weight: 700;
}

.cart {
    gap: 10px;
}

/* Hero Container  */
.hero-container {
    justify-content: center;
    margin: 7.5rem 0;
}

.hero-content {
    gap: 13px;
    width: 100%;
    margin-top: auto;
}

.hero-head {
    font-size: 4.1rem;
    margin: 0;
}

.hero-img {
    margin-top: 5rem;
}

/* Our Plant Section  */

.plants-container {
    gap: 49px;
}

.plants-content {
    text-align: center;
    gap: 16px;
    max-width: 65%;
    margin: 0 auto;
}

.plants-head {
    font-size: 3.125rem;
    margin: 0;
}

.plants {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.875rem 1.25rem;
}

.plant {
    justify-content: center;
    gap: 30px;
}

.plant-content {
    text-align: center;
    gap: 30px;
}

.plant-details {
    gap: 20px;
}

.plant-title {
    font-size: 1.375rem;
    font-weight: 500;
    margin: 0;
}

.plant-price {
    font-size: 1.375rem;
    font-weight: 700;
    margin: 0;
}

/* Universal Codes */

.or-head {
    color: #E95A08;
}

.norm-para {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

/* Button  */
.btn-uni {
    background-color: #E95A08;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    padding: 1.625rem 3.125rem;
    border: none;
    cursor: pointer;
}

/* Flex-Column */

.flex-col {
    display: flex;
    flex-direction: column;
}

/* Flex  */

.flex {
    display: flex;
}

/* Media Query */

@media screen and (max-width:450px) {

    /* Navbar */

    .head {
        margin: 13px 16px 28px;
    }

    .head-img>img {
        width: 63px;
    }

    .nav-home,
    .nav-s {
        display: none;
    }

    .cart {
        gap: 15px;
    }

    /* Hero container */

    .hero-container {
        flex-direction: column-reverse;
        gap: 28px;
        margin: 0;
    }

    .hero-head {
        justify-content: center;
        font-size: 24px;
        line-height: 1;
    }

    .hero-content {
        padding: 13px 16px 28px;
        width: 100vw;
        box-sizing: border-box;
    }

    .hero-content div {
        width: 100%;
    }

    .hero-content p {
        max-width: 100vw;
        margin: 0 auto;
    }

    .hero-img {
        margin: 0;
    }

    .hero-img>img {
        width: 100%;
    }

    /* Our plants container */
    .plants-container {
        margin-top: 65px;
    }

    .plants {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 16px;
    }

    .plants-content {
        max-width: 95%;
    }

    .plant img {
        width: 100%;
    }
}